h1{text-align: center;}
    h2{text-align: center;}
    td{padding: 5px;}
    .central{
      margin:auto;
      width: 90%;
      border: 5px;
      padding: 5px;
    }
    .central1{
      margin:auto;
      width: 90%;
      border: 5px;
      padding: 10px;
    }
    .centrenav{
        margin-left: auto;
        margin-right: auto;
    }
    * {
	  box-sizing: border-box;
	}
	
	.column {
	  float: left;
	  width: 20%;
	  padding: 5px;
	}
	
	/* Clearfix (clear floats) */
	.row::after {
	  content: "";
	  clear: both;
	  display: table;
	}
	
	.container img {
  		max-height: 100%;
 	 	max-width: 100%;
	}
	td{padding: 5px;}
    	.central{
          margin:auto;
          width: 80%;
          border: 5px;
          padding: 5px;
          text-align: center;
        }
        .central2{
          display: inline-block;
	      margin:auto;
	      border: 5px;
	      padding: 10px;
	      text-align: left;
	    }
	    .centrenav{
	    	margin-left: auto;
  			margin-right: auto;
	    }
	    input[type=button], input[type=submit], input[type=reset] {
		  background-color: white;
		  color: black;
		  border: 0.1em solid #000000;
		  padding: 0.35em 1.2em;
		  text-decoration: none;
		  margin: 0 0.3em 0.3em 0;
		  cursor: pointer;
		  transition: 0.5s;
		}
		input[type=file]::file-selector-button {
		  background-color: white;
		  color: black;
		  border: 0.1em solid #000000;
		  padding: 0.45em 1.3em;
		  text-decoration: none;
		  margin: 0 0.3em 0.3em 0;
		  cursor: pointer;
		  transition: 0.5s
		}