<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<table>
  <tr>
    <td>
    {% if user.is_authenticated %}
        <a href="logout">Logout</a>
    {% else %}
        <a href="login">Login</a></td>
        <td><a href="signup">Signup</a></td>
    {% endif %}
    <td><a href=""> Home </a></td>
      {% if user.is_authenticated %}
    <td><a href="uploadimage">Upload Images</a></td>
    {% endif %}
  </tr>
</table>
{% if user.is_authenticated %}
    <p>Currently logged in as {{ user.get_username }}.</p>
{% else %}
    <p>Welcome new user please log in or signup.</p>
{% endif %}
</body>
</html>