<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>
    <form method="post">
        {% csrf_token %}
        <p>Username: {{form.username}}</p>
        <p>Password: {{form.password}}</p>
        <ul>
        {% for error in form.password.errors %}
            <li>{{error}}</li>
        {% endfor %}
            {% for error in form.username.errors %}
            <li>{{error}}</li>
        {% endfor %}
        </ul>
        <input type="submit" value="Submit">
    </form>
    <h3>Password Strength - </h3>
    <p>To ensure a strong password they:</p>
    <ul>
        <li>must be 8 or greater characters long</li>
        <li>must contain both upper and lower letters</li>
        <li>must contain letters and numbers</li>
        <li>must contain at least 1 special character</li>
        <li>cannot be similar to the username</li>
        <li>must not be a commonly used password</li>
    </ul>
</body>
</html>