<!DOCTYPE html>
<html lang="en">
<head>
  <title>Leaderboards</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <style>
    h1{text-align: center;}
    h2{text-align: center;}
    td{padding: 5px;}
    .central{
      margin:auto;
      width: 80%;
      border: 5px;
      padding: 5px;
    }
    .central1{
      margin:auto;
      width: 80%;
      border: 5px;
      padding: 10px;
    }
  </style>
</head>
<body>
  <table>
  <tr>
    <td>
    {% if user.is_authenticated %}
        <a href="logout">Logout </a></td>
    {% else %}
        <a href="login">Login </a></td>
        <td><a href="signup">Signup </a></td>
    {% endif %}
    <td><a href="\polls"> Home </a></td>
      {% if user.is_authenticated %}
    <td><a href="uploadimage">Upload Images </a></td>
    {% endif %}
    {% if user.is_authenticated %}
    <td><a href="feed">Photo Feed </a></td>
    {% endif %}
    {% if user.is_authenticated %}
    <td><a href="leaderboards">Leaderboards</a></td>
    {% endif %}
  </tr>
</table>
<div div class = "central">
  <div div class = "central1">
    <h1>Leaderboards</h1>
  </div>
{% for key, value in scores.items %}
  <div style="margin:auto;width:50%;border:5px;padding:5px;">
    <h2>{{key}}</h2><br>
    <h3>Score: {{value}}</h3>
  </div>
  {% endfor %}
</div>
</body>
</html>
